.calendar-section{
  display: flex;
  justify-content: center;
}

.booked-date {
  position: relative;
}

.booked-date::after {
  content: "•";
  color: rgb(0, 0, 255);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
}