.Schedule-container{
  gap:24px;
}



.timesList-timeLabel-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 300px;
  width:280px;
  overflow-y: scroll; 
  padding-right: 4px; 
}


.selected{
  background-color: #3b82f6;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: all 0.3s ease;
}